apiVersion: v1
kind: Service
metadata:
  name: api-server
  namespace: workload
  labels:
    app: api-server
spec:
  selector:
    app: api-server
  ports:
  - port: 80
    targetPort: 8080
    name: http
  - port: 9090
    targetPort: 9090
    name: metrics
  type: ClusterIP
